.App {
  width: 80%;
  margin: auto;
  text-align: left;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 100;
}

h2 {
  font-family: 'Cabin Sketch';
  font-size: 40px;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Context-information {
  line-height: 10px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.Auction-information {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  overflow-wrap: anywhere;
}

.Auction-information-img {
  flex: 2;
}

.Auction-information-img img {
  width: 400px;
}

.Auction-information-text {
  flex: 3;
  margin-left: 10px;
}

button {
  padding: 8px;
  width: 20%;
  max-width: 250px;
  cursor: pointer;
  border-radius: 5px;
}

#button-call {
  background-color: #365f7c;
  color: white;
}

#button-call:hover {
  color: #fff;
  background-color: #2a4b62;
  border-color: #264459;
}

#button-call:focus {
  box-shadow: 0 0 0 0.2rem rgb(83 119 145 / 50%);
}

#button-send {
  background-color: #b84040;
  color: white;
  margin-left: 2px;
}

#button-send:hover {
  color: #fff;
  background-color: #9c3636;
  border-color: #923333;
}

#button-send:focus, #button-send:active {
  box-shadow: 0 0 0 0.2rem rgb(195 93 93 / 50%);
}

.Auction-actions {
  width: 100%;
  margin: auto;
}

.Auction-actions input {
  width: 60%;
  padding: 8px;
  max-width: 400px;
  text-align: center;
  font-size: 15px;
}

#inline {
  display: inline;
  margin-right: 30px;
}

.container {
  margin-left: 20px;
}

.container h1 {
  color: green
}

.container li {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #35F543;
  width: 400px;
  color: white;
  padding: 2px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}